# ==============================
# DATA (do NOT commit raw data)
# ==============================
data/raw/
data/processed/
*.csv
*.csv.gz
*.parquet
*.pkl

# ==============================
# SECRETS / CREDENTIALS
# ==============================
.pgpass
*.pgpass
.env
.env.*
**/.pgpass

# ==============================
# PYTHON
# ==============================
__pycache__/
*.py[cod]
.venv/
venv/

# ==============================
# JUPYTER
# ==============================
.ipynb_checkpoints/

# ==============================
# OS / EDITOR
# ==============================
.DS_Store
.vscode/
.idea/
